.cpi-logo{background-position: center; background-size: cover; background-repeat: no-repeat; width: 75%; height: 87%; margin: 0 auto; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}

.breadcrumb{background-color: #e74a3b;}
.breadcrumb li, .breadcrumb li a{color: #ffffff!important;}
.breadcrumb-item+.breadcrumb-item::before{color: #ffffff;}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.spinning {
  animation: spin 2s infinite linear; 
}

@media (min-width: 768px){
	.sidebar {
	    width: 21rem!important;
	}

	.sidebar .nav-item .nav-link{
		width: 17rem;
	}
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}